POSTGRES_DB=flashcards
POSTGRES_USER=flashcards
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=db
POSTGRES_PORT=5432
LIBRETRANSLATE_URL=http://libretranslate:5000
MEDIA_MAX_SIZE_MB=5
SM2_LEARNED_THRESHOLD_DAYS=21
